<div class="row my-5">
  <div class="col-12">
    <div class="container all">
      <div id="about">
        <h3>Ruby on Rails | React | Node  </h3>
        <p>Full-stack web developer based in Osaka, looking to relocate to Tokyo for work. <br>
           Bilingual in English and Japanese (JLPT N2)
        </p>
      </div>
    </div>
  </div>
</div>
