#about{
  background-color: $gray-green;
  padding: 20px;
  margin-top: 40px;
  color: $egg-shell;
  border-radius: 3px;
  box-shadow: 0 0 15px $gray;
}

.container .all {
  padding: 10px 20px 10px;
  
}
