#about{
  background-color: $egg-shell;
  padding: 20px;
  margin-top: 40px;
  color: $gray-green;
  text-align: center;

  border-block-start: 1px solid;
  border-block-end: 1px solid;
  padding-block-start:1rem;
  padding-block-end: 1rem;

}

.container .all {
  padding: 10px 20px 10px;

}
