.button-social {
  padding: 0 16px;
  position: relative;
  font-size: 20px;
  color: $warm-light;

  &:hover {
    opacity: 0.7;
    color: $gray-green;
  }
}

.button-social-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
