.cards {
  display: inline;
}


.card-product {
  overflow: hidden;
  height: 17rem;
  background: $gray-green;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  align-items: center;
  color: $egg-shell;
  font-weight: bold;
  margin-top: 16px;
}

.card-product img {
  width: 60%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 0;
  margin-top: 8px;
  color: $egg-shell;
  text-align: center;
}

.card-product .card-product-infos {
  padding: 1rem;
  width: 40%;
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
}

.external-link {
  text-align: right;
  color: $egg-shell;
  transition: .5s;
  &:hover {
    cursor: pointer;
    color: $warm-light;
  }
}

#yml-description {
  font-weight: light;
  color: $warm-light;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-product {
    flex-direction: column;
  }
  .card-product .card-product-infos {
    width: 100%;
    height: 30%;
    padding: 0.5rem 1rem;
  }
  .card-product p {
    font-size: 10px;
  }
  .card-product img {
    width: 100%;
    height: 70%;
  }
  .external-link {
    position: absolute;
    left: 80%;
    opacity: 1;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-product img {
    width: 84%;
  }
  .external-link {
    opacity: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .card-product {
    justify-content: space-around;
  }
  .card-product img {
    width: 45%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .card-product {
    justify-content: space-around;
  }   
  .card-product img {
    width: 45%;
  }
}
