.cards {
  display: inline;
}

.card-product-infos {
  border-block-start: 1px solid;
  border-block-end: 1px solid;
  padding-block-start: 1rem;
  padding-block-end: 1rem;

}

.card-product {
  overflow: hidden;
  height: 17rem;
  background: $egg-shell;
  display: flex;
  align-items: center;
  color: $gray-green;
  font-weight: bold;

  margin-bottom: 2rem;

}

.card-product img {
  width: 60%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
  text-align: center;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .8;
  margin-top: 8px;
  margin-bottom: 8px;
  color: $gray-green;
  text-align: center;
}

.card-product-infos .external-link {
  color: $gray-green;
}

.card-product .card-product-infos {
  padding: 1rem;
  width: 40%;
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
}


.external-link {
  text-align: right;
  color: $gray-green;
  transition: .5s;
  &:hover {
    cursor: pointer;
    color: $warm-light;
  }
}

#yml-description {
  color: $warm-light;
  font-size: 12px;
  font-weight: 900;
}

#main-tech {
  font-weight: light;
  font-size: 9px;
  font-weight: bolder;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-product {
    flex-direction: column;
    height: fit-content;
  }
  .card-product .card-product-infos {
    width: 100%;
    height: 40%;
    padding: 0 1rem;
    margin-top: .25rem;
  }
  .card-product-infos {
    border-block-start: 0px;
  }
  .card-product p {
    font-size: 10px;
  }
  .card-product img {
    width: 100%;
    object-fit: contain;
  }
  .external-link {
    position: absolute;
    left: 80%;
    opacity: 1;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


  .card-product img {
    width: 75%;
    object-fit: fill;
  }
  .external-link {
    opacity: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card-product img {
    width: 60%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .card-product-infos {
    margin-left: 1rem;
  }
  .card-product img {
    width: 45%;
  }
}
