#skills{
  background-color: $egg-shell;
  padding: 20px;
  margin-top: 2rem;
  color: $gray-green;
}

.all {
  padding: 10px 20px 10px;
}


ul {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  column-gap: 1rem;
  grid-row-gap: 2rem;
  align-items: baseline;
  align-content: space-evenly;
  list-style: none;

  border-block-end: 1px solid;
  padding-block-end: 2rem;
}

li {
  justify-self: center;
}

ul img {
  height: 50px;
  width: 50px;
}
