// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$gray: #868686;
$light-gray: #F4F4F4;


$warm-ivory: #FFEFCD;
$natural: #A58E74;
$light-natural: #b2a18e;
$egg-yolk: #E09132;
$fern: #424530;
$special-green: #3a5a40;

$egg-shell: rgb(243, 241, 231);
$warm-light: hsl(13, 68, 63);
$gray-green: hsl(234, 20, 30);
